<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>264</string>
				<string>3g2</string>
				<string>3gp</string>
				<string>3gpp</string>
				<string>aac</string>
				<string>ac3</string>
				<string>amr</string>
				<string>ape</string>
				<string>asf</string>
				<string>avi</string>
				<string>bdmv</string>
				<string>bmp</string>
				<string>clpi</string>
				<string>dat</string>
				<string>dde</string>
				<string>divx</string>
				<string>dpg</string>
				<string>dts</string>
				<string>dv</string>
				<string>dvr</string>
				<string>dvr-ms</string>
				<string>eac3</string>
				<string>evo</string>
				<string>flac</string>
				<string>f4v</string>
				<string>flc</string>
				<string>fli</string>
				<string>flv</string>
				<string>gif</string>
				<string>gvi</string>
				<string>h264</string>
				<string>hdmov</string>
				<string>ifo</string>
				<string>isma</string>
				<string>ismv</string>
				<string>j2k</string>
				<string>jpeg</string>
				<string>jpg</string>
				<string>m1s</string>
				<string>m1t</string>
				<string>m1v</string>
				<string>m2p</string>
				<string>m2s</string>
				<string>m2t</string>
				<string>m2ts</string>
				<string>m2v</string>
				<string>m4a</string>
				<string>m4b</string>
				<string>m4v</string>
				<string>mac</string>
				<string>mka</string>
				<string>mks</string>
				<string>mkv</string>
				<string>mod</string>
				<string>mov</string>
				<string>mp+</string>
				<string>mp2</string>
				<string>mp3</string>
				<string>mp4</string>
				<string>mpc</string>
				<string>mpe</string>
				<string>mpeg</string>
				<string>mpg</string>
				<string>mpgv</string>
				<string>mpgx</string>
				<string>mpls</string>
				<string>mpm</string>
				<string>mpv</string>
				<string>mts</string>
				<string>mxf</string>
				<string>oga</string>
				<string>ogg</string>
				<string>ogm</string>
				<string>ogv</string>
				<string>png</string>
				<string>qcp</string>
				<string>qt</string>
				<string>ra</string>
				<string>rm</string>
				<string>rmvb</string>
				<string>smv</string>
				<string>swf</string>
				<string>stl</string>
				<string>tp</string>
				<string>trp</string>
				<string>ts</string>
				<string>tta</string>
				<string>vob</string>
				<string>w64</string>
				<string>wav</string>
				<string>webm</string>
				<string>wma</string>
				<string>wmv</string>
				<string>wv</string>
				<string>wvc</string>
				<string>y4m</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MediaInfo Files</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>All FIles</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>mediainfo</string>
	<key>CFBundleIdentifier</key>
	<string>net.mediaarea.mediainfo.mac</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>${APP_VERSION}</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>${APP_VERSION}</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Analyze with MediaInfo</string>
			</dict>
			<key>NSMessage</key>
			<string>analyzeService</string>
			<key>NSPortName</key>
			<string>MediaInfo.new</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSTextContent</key>
				<array>
					<string>FilePath</string>
				</array>
			</dict>
			<key>NSSendFileTypes</key>
			<array>
				<string>public.movie</string>
				<string>public.audio</string>
				<string>net.mediaarea.mediainfo.mediafiles</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>net.mediaarea.mediainfo.mediafiles</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>264</string>
					<string>3g2</string>
					<string>3gp</string>
					<string>3gpp</string>
					<string>aac</string>
					<string>ac3</string>
					<string>amr</string>
					<string>ape</string>
					<string>asf</string>
					<string>avi</string>
					<string>bdmv</string>
					<string>bmp</string>
					<string>clpi</string>
					<string>dat</string>
					<string>dde</string>
					<string>divx</string>
					<string>dpg</string>
					<string>dts</string>
					<string>dv</string>
					<string>dvr</string>
					<string>dvr-ms</string>
					<string>eac3</string>
					<string>evo</string>
					<string>flac</string>
					<string>f4v</string>
					<string>flc</string>
					<string>fli</string>
					<string>flv</string>
					<string>gif</string>
					<string>gvi</string>
					<string>h264</string>
					<string>hdmov</string>
					<string>ifo</string>
					<string>isma</string>
					<string>ismv</string>
					<string>j2k</string>
					<string>jpeg</string>
					<string>jpg</string>
					<string>m1s</string>
					<string>m1t</string>
					<string>m1v</string>
					<string>m2p</string>
					<string>m2s</string>
					<string>m2t</string>
					<string>m2ts</string>
					<string>m2v</string>
					<string>m4a</string>
					<string>m4b</string>
					<string>m4v</string>
					<string>mac</string>
					<string>mka</string>
					<string>mks</string>
					<string>mkv</string>
					<string>mod</string>
					<string>mov</string>
					<string>mp+</string>
					<string>mp2</string>
					<string>mp3</string>
					<string>mp4</string>
					<string>mpc</string>
					<string>mpe</string>
					<string>mpeg</string>
					<string>mpg</string>
					<string>mpgv</string>
					<string>mpgx</string>
					<string>mpls</string>
					<string>mpm</string>
					<string>mpv</string>
					<string>mts</string>
					<string>mxf</string>
					<string>oga</string>
					<string>ogg</string>
					<string>ogm</string>
					<string>ogv</string>
					<string>png</string>
					<string>qcp</string>
					<string>qt</string>
					<string>ra</string>
					<string>rm</string>
					<string>rmvb</string>
					<string>smv</string>
					<string>swf</string>
					<string>stl</string>
					<string>tp</string>
					<string>trp</string>
					<string>ts</string>
					<string>tta</string>
					<string>vob</string>
					<string>w64</string>
					<string>wav</string>
					<string>webm</string>
					<string>wma</string>
					<string>wmv</string>
					<string>wv</string>
					<string>wvc</string>
					<string>y4m</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
