*.~*
*.zip
*.7z
*.lib
*.dll
*.exp
*.dcu
*.ddp
*.ddp
*.dll
*.exe
*.obj
*.tds
*.opt
*.ncb
*.suo
*.plg
*.aps
*.ddp
*.pdb
*.pdp
*.ipch
*.VC.db
*.opendb
bin
obj
Debug
Debug_Ansi
Release
Release_Ansi
Debug_Build
Release_Build
*.opensdf
*.sdf
*.user
__history
*.local
Thumbs.db
Win32
x64
My Project

# Visual Studio 2015+ cache/options directory
.vs/

# NuGet Packages
*.nupkg
# NuGet Symbol Packages
*.snupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/[Pp]ackages/repositories.config
# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets

# Qt GUI build and translations directories
/Project/QMake/GUI/build
/Source/Resource/Translations
build/

.vscode/
taskfile.yaml

# Android app directories
/Source/GUI/Android/.gradle
/Source/GUI/Android/.idea
/Source/GUI/Android/app/build
Source/GUI/Android/app/src/main/res/raw*/lang.csv
Source/GUI/Android/app/src/main/res/values-*/strings.xml
/Source/GUI/Android/build
Source/GUI/Android/local.properties
