// GUI_Main rc - WxWidgets GUI for MediaInfo
// Copyright (C) 2002-2012 MediaArea.net SARL, Info@MediaArea.net
//
// This program is free software: you can redistribute it and/or modify it
// under the terms of the GNU Lesser General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
// GNU Lesser General Public License for more details.
//
// You should have received a copy of the GNU Lesser General Public License
// along with this program. If not, see <http://www.gnu.org/licenses/>.
//
//+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
//+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

//Icons
aaaaaaaa                        ICON "../../../Source/Resource/Image/MediaInfo_TinyOnly.ico"
File_Open_File                  ICON "../../../Source/Resource/Image/Menu/K20/File_Open_File.ico"
File_Open_Directory             ICON "../../../Source/Resource/Image/Menu/K20/File_Open_Directory.ico"
Help_About                      ICON "../../../Source/Resource/Image/Menu/K20/Help_About.ico"

//WxWidgets
#ifndef _DEBUG
    #include <wx/msw/wx.rc>
#endif

