<?xml version="1.0" encoding="utf-8"?><!--
  Copyright (c) MediaArea.net SARL. All Rights Reserved.

      Use of this source code is governed by a BSD-style license that can
      be found in the License.html file in the root of the source tree.
-->
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.mediaarea.mediainfo">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="20" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme"
        android:label="@string/app_name">

        <activity
            android:name=".ReportListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" android:mimeType="audio/*" />
                <data android:scheme="content" android:mimeType="image/*" />
                <data android:scheme="content" android:mimeType="video/*" />
                <data android:scheme="content" android:mimeType="application/acad" />
                <data android:scheme="content" android:mimeType="application/dash+xml" />
                <data android:scheme="content" android:mimeType="application/dwg" />
                <data android:scheme="content" android:mimeType="application/gxf" />
                <data android:scheme="content" android:mimeType="application/mxf" />
                <data android:scheme="content" android:mimeType="application/ogg" />
                <data android:scheme="content" android:mimeType="application/ram" />
                <data android:scheme="content" android:mimeType="application/ttml+xml" />
                <data android:scheme="content" android:mimeType="application/vnd.ms-asf" />
                <data android:scheme="content" android:mimeType="application/vnd.rn-realmedia" />
                <data android:scheme="content" android:mimeType="application/x-blender" />
                <data android:scheme="content" android:mimeType="application/x-cd-image" />
                <data android:scheme="content" android:mimeType="application/x-flac" />
                <data android:scheme="content" android:mimeType="application/x-matroska" />
                <data android:scheme="content" android:mimeType="application/x-ogg" />
                <data android:scheme="content" android:mimeType="application/x-sami" />
                <data android:scheme="content" android:mimeType="application/x-shockwave" />
                <data android:scheme="content" android:mimeType="application/x-shockwave-flash" />
                <data android:scheme="content" android:mimeType="application/x-subrip" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file" android:mimeType="audio/*" />
                <data android:scheme="file" android:mimeType="image/*" />
                <data android:scheme="file" android:mimeType="video/*" />
                <data android:scheme="file" android:mimeType="application/acad" />
                <data android:scheme="file" android:mimeType="application/dash+xml" />
                <data android:scheme="file" android:mimeType="application/dwg" />
                <data android:scheme="file" android:mimeType="application/gxf" />
                <data android:scheme="file" android:mimeType="application/mxf" />
                <data android:scheme="file" android:mimeType="application/ogg" />
                <data android:scheme="file" android:mimeType="application/ram" />
                <data android:scheme="file" android:mimeType="application/ttml+xml" />
                <data android:scheme="file" android:mimeType="application/vnd.ms-asf" />
                <data android:scheme="file" android:mimeType="application/vnd.rn-realmedia" />
                <data android:scheme="file" android:mimeType="application/x-blender" />
                <data android:scheme="file" android:mimeType="application/x-cd-image" />
                <data android:scheme="file" android:mimeType="application/x-flac" />
                <data android:scheme="file" android:mimeType="application/x-matroska" />
                <data android:scheme="file" android:mimeType="application/x-ogg" />
                <data android:scheme="file" android:mimeType="application/x-sami" />
                <data android:scheme="file" android:mimeType="application/x-shockwave" />
                <data android:scheme="file" android:mimeType="application/x-shockwave-flash" />
                <data android:scheme="file" android:mimeType="application/x-subrip" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ReportDetailActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.mediaarea.mediainfo.ReportListActivity" />
        </activity>

        <activity
            android:name=".AboutActivity"
            android:label="@string/about_title"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.mediaarea.mediainfo.ReportListActivity" />
        </activity>

    </application>

</manifest>