<?xml version="1.0" encoding="utf-8"?><!--
  Copyright (c) MediaArea.net SARL. All Rights Reserved.

      Use of this source code is governed by a BSD-style license that can
      be found in the License.html file in the root of the source tree.
-->
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.mediaarea.mediainfo">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:label="@string/app_name">

        <activity
            android:name=".ReportListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file" android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ReportDetailActivity"
            android:label="@string/app_name"
            android:parentActivityName=".ReportListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.mediaarea.mediainfo.ReportListActivity" />
        </activity>

        <activity
            android:name=".AboutActivity"
            android:label="@string/about_title"
            android:parentActivityName=".ReportListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.mediaarea.mediainfo.ReportListActivity" />
        </activity>

    </application>

</manifest>