<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="MediaArea.net.MediaInfo" Publisher="CN=4DBC310E-9C86-41CE-ABE7-5CBFAAC19566" Version="19.9.0.0" />
  <mp:PhoneIdentity PhoneProductId="00000000-0000-0000-0000-000000000000" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>MediaInfo</DisplayName>
    <PublisherDisplayName>MediaArea.net</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="MediaInfo.App">
      <uap:VisualElements DisplayName="MediaInfo" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="MediaInfo is a convenient unified display of the most relevant technical and tag data for video and audio files." BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square310x310Logo="Assets\LargeTile.png" Square71x71Logo="Assets\SmallTile.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="mediainfo_uwp">
            <uap:DisplayName>MediaInfo</uap:DisplayName>
            <uap:SupportedFileTypes>
              <uap:FileType>.264</uap:FileType>
              <uap:FileType>.3g2</uap:FileType>
              <uap:FileType>.3ga</uap:FileType>
              <uap:FileType>.3gp</uap:FileType>
              <uap:FileType>.3gpa</uap:FileType>
              <uap:FileType>.3gpp</uap:FileType>
              <uap:FileType>.aa3</uap:FileType>
              <uap:FileType>.aac</uap:FileType>
              <uap:FileType>.aacp</uap:FileType>
              <uap:FileType>.adts</uap:FileType>
              <uap:FileType>.ac3</uap:FileType>
              <uap:FileType>.act</uap:FileType>
              <uap:FileType>.aif</uap:FileType>
              <uap:FileType>.aifc</uap:FileType>
              <uap:FileType>.aiff</uap:FileType>
              <uap:FileType>.amr</uap:FileType>
              <uap:FileType>.ape</uap:FileType>
              <uap:FileType>.asf</uap:FileType>
              <uap:FileType>.at3</uap:FileType>
              <uap:FileType>.au</uap:FileType>
              <uap:FileType>.avi</uap:FileType>
              <uap:FileType>.avs</uap:FileType>
              <uap:FileType>.bdmv</uap:FileType>
              <uap:FileType>.bmp</uap:FileType>
              <uap:FileType>.bms</uap:FileType>
              <uap:FileType>.caf</uap:FileType>
              <uap:FileType>.clpi</uap:FileType>
              <uap:FileType>.dat</uap:FileType>
              <uap:FileType>.dde</uap:FileType>
              <uap:FileType>.divx</uap:FileType>
              <uap:FileType>.dpg</uap:FileType>
              <uap:FileType>.dff</uap:FileType>
              <uap:FileType>.dsd</uap:FileType>
              <uap:FileType>.dts</uap:FileType>
              <uap:FileType>.dv</uap:FileType>
              <uap:FileType>.dvr</uap:FileType>
              <uap:FileType>.dvr-ms</uap:FileType>
              <uap:FileType>.eac3</uap:FileType>
              <uap:FileType>.evo</uap:FileType>
              <uap:FileType>.h3d</uap:FileType>
              <uap:FileType>.f4a</uap:FileType>
              <uap:FileType>.f4b</uap:FileType>
              <uap:FileType>.f4v</uap:FileType>
              <uap:FileType>.fla</uap:FileType>
              <uap:FileType>.flac</uap:FileType>
              <uap:FileType>.flc</uap:FileType>
              <uap:FileType>.fli</uap:FileType>
              <uap:FileType>.flv</uap:FileType>
              <uap:FileType>.gif</uap:FileType>
              <uap:FileType>.gis</uap:FileType>
              <uap:FileType>.gvi</uap:FileType>
              <uap:FileType>.h264</uap:FileType>
              <uap:FileType>.hdmov</uap:FileType>
              <uap:FileType>.ifo</uap:FileType>
              <uap:FileType>.ism</uap:FileType>
              <uap:FileType>.isma</uap:FileType>
              <uap:FileType>.ismv</uap:FileType>
              <uap:FileType>.j2k</uap:FileType>
              <uap:FileType>.jpeg</uap:FileType>
              <uap:FileType>.jpg</uap:FileType>
              <uap:FileType>.jps</uap:FileType>
              <uap:FileType>.m1s</uap:FileType>
              <uap:FileType>.m1t</uap:FileType>
              <uap:FileType>.m1v</uap:FileType>
              <uap:FileType>.m2p</uap:FileType>
              <uap:FileType>.m2s</uap:FileType>
              <uap:FileType>.m2t</uap:FileType>
              <uap:FileType>.m2ts</uap:FileType>
              <uap:FileType>.m2v</uap:FileType>
              <uap:FileType>.m4a</uap:FileType>
              <uap:FileType>.m4b</uap:FileType>
              <uap:FileType>.m4v</uap:FileType>
              <uap:FileType>.mac</uap:FileType>
              <uap:FileType>.mk3d</uap:FileType>
              <uap:FileType>.mka</uap:FileType>
              <uap:FileType>.mks</uap:FileType>
              <uap:FileType>.mkv</uap:FileType>
              <uap:FileType>.mlp</uap:FileType>
              <uap:FileType>.mod</uap:FileType>
              <uap:FileType>.mov</uap:FileType>
              <uap:FileType>.mp+</uap:FileType>
              <uap:FileType>.mp2</uap:FileType>
              <uap:FileType>.mp3</uap:FileType>
              <uap:FileType>.mp4</uap:FileType>
              <uap:FileType>.mpc</uap:FileType>
              <uap:FileType>.mpd</uap:FileType>
              <uap:FileType>.mpe</uap:FileType>
              <uap:FileType>.mpeg</uap:FileType>
              <uap:FileType>.mpg</uap:FileType>
              <uap:FileType>.mpgv</uap:FileType>
              <uap:FileType>.mpgx</uap:FileType>
              <uap:FileType>.mpls</uap:FileType>
              <uap:FileType>.mpm</uap:FileType>
              <uap:FileType>.mpo</uap:FileType>
              <uap:FileType>.mpv</uap:FileType>
              <uap:FileType>.mts</uap:FileType>
              <uap:FileType>.mxf</uap:FileType>
              <uap:FileType>.oga</uap:FileType>
              <uap:FileType>.ogg</uap:FileType>
              <uap:FileType>.ogm</uap:FileType>
              <uap:FileType>.ogv</uap:FileType>
              <uap:FileType>.ogx</uap:FileType>
              <uap:FileType>.oma</uap:FileType>
              <uap:FileType>.opus</uap:FileType>
              <uap:FileType>.png</uap:FileType>
              <uap:FileType>.pns</uap:FileType>
              <uap:FileType>.qcp</uap:FileType>
              <uap:FileType>.qt</uap:FileType>
              <uap:FileType>.ra</uap:FileType>
              <uap:FileType>.rm</uap:FileType>
              <uap:FileType>.rmvb</uap:FileType>
              <uap:FileType>.shn</uap:FileType>
              <uap:FileType>.smv</uap:FileType>
              <uap:FileType>.spdif</uap:FileType>
              <uap:FileType>.stl</uap:FileType>
              <uap:FileType>.spx</uap:FileType>
              <uap:FileType>.swf</uap:FileType>
              <uap:FileType>.tak</uap:FileType>
              <uap:FileType>.thd</uap:FileType>
              <uap:FileType>.thd+ac3</uap:FileType>
              <uap:FileType>.tif</uap:FileType>
              <uap:FileType>.tiff</uap:FileType>
              <uap:FileType>.tmf</uap:FileType>
              <uap:FileType>.tp</uap:FileType>
              <uap:FileType>.trp</uap:FileType>
              <uap:FileType>.ts</uap:FileType>
              <uap:FileType>.tta</uap:FileType>
              <uap:FileType>.ty</uap:FileType>
              <uap:FileType>.vob</uap:FileType>
              <uap:FileType>.vqf</uap:FileType>
              <uap:FileType>.vro</uap:FileType>
              <uap:FileType>.w64</uap:FileType>
              <uap:FileType>.wav</uap:FileType>
              <uap:FileType>.webm</uap:FileType>
              <uap:FileType>.wma</uap:FileType>
              <uap:FileType>.wmv</uap:FileType>
              <uap:FileType>.wtv</uap:FileType>
              <uap:FileType>.wv</uap:FileType>
              <uap:FileType>.wvc</uap:FileType>
              <uap:FileType>.y4m</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>