[Desktop Entry]
Type=Application
Version=1.0
Name=MediaInfo
Comment=Supplies technical and tag information about a video or audio file
Comment[fr]=fournit des informations techniques et les tags à propos de vos fichiers video et audio
Icon=mediainfo
Exec=mediainfo-gui %f 
Terminal=false
MimeType=
Categories=AudioVideo;AudioVideoEditing;
