[Desktop Entry]
Name=mediainfo-gui.desktop
ServiceTypes=audio/*,video/*,image/*,application/x-flash-video
Actions=mediainfo-gui
X-KDE-Priority=TopLevel

[Desktop Action mediainfo-gui]
Name=MediaInfo
GenericName=Media Analyzer
Exec=mediainfo-gui %u
Icon=mediainfo