[Desktop Entry]
Name=mediainfo-gui.desktop
ServiceTypes=audio/*,video/*,image/*,application/x-flash-video
Actions=mediainfo-gui
X-KDE-Priority=TopLevel
Keywords=media info;metadata;tag;video;audio;subtitles;chapters;codec;mkv;mpeg;mp3;h264;avc;h265;hevc;avi;

[Desktop Action mediainfo-gui]
Name=MediaInfo
GenericName=Media Analyzer
Exec=mediainfo-gui %u
Icon=mediainfo
