Source: libmediainfo
Priority: optional
Maintainer: MediaArea.net <info@mediaarea.net>
Build-Depends: debhelper (>= 5), doxygen, tofrodos, libzen0-dev (>= 0.4.23), zlib1g-dev, pkg-config, automake, autoconf, libtool
Standards-Version: 3.7.3
Section: libs
Homepage: http://mediainfo.sourceforge.net
Vcs-Svn: https://mediainfo.svn.sourceforge.net/svnroot/mediainfo/MediaInfoLib/
Vcs-Browser: http://mediainfo.svn.sourceforge.net/viewvc/mediainfo/MediaInfoLib/

Package: libmediainfo0-dev
Section: libdevel
Architecture: any
Depends: libmediainfo0 (>= 0.7.52), libzen0-dev (>= 0.4.23)
Description: MediaInfo supplies information about a video or audio file
 This package includes the development support files of the libmediainfo

Package: libmediainfo0
Section: libs
Architecture: any
Depends: libzen0 (>= 0.4.23), zlib1g
Description: MediaInfo supplies information about a video or audio file
 MediaInfo supplies technical and tag information about a video or audio file
 .
 What information can I get from MediaInfo?
 General: title, author, director, album, track number, date, duration...
 Video: codec, aspect, fps, bitrate...
 Audio: codec, sample rate, channels, language, bitrate...
 Text: language of subtitle
 Chapters: number of chapters, list of chapters
 .
 What format (container) does MediaInfo support?
 Video: MKV, OGM, AVI, DivX, WMV, QuickTime, Real, MPEG-1, MPEG-2,
        MPEG-4, DVD (VOB)...
 (Codecs: DivX, XviD, MSMPEG4, ASP, H.264, AVC...)
 Audio: OGG, MP3, WAV, RA, AC3, DTS, AAC, M4A, AU, AIFF...
 Subtitles: SRT, SSA, ASS, SAMI...
 .
 This package includes the shared library
