<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>11E53</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Movie</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.movie</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Video</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.video</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.audio</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Subtitle</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.subtitle</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>3g2</string>
				<string>3gp</string>
				<string>3gp2</string>
				<string>3gpp</string>
				<string>asf</string>
				<string>asx</string>
				<string>avi</string>
				<string>dat</string>
				<string>divx</string>
				<string>dv</string>
				<string>f4v</string>
				<string>fli</string>
				<string>flv</string>
				<string>m2t</string>
				<string>m2ts</string>
				<string>mkv</string>
				<string>mov</string>
				<string>mp4</string>
				<string>mpeg</string>
				<string>mpg</string>
				<string>mpg4</string>
				<string>mts</string>
				<string>mxf</string>
				<string>ogm</string>
				<string>ogv</string>
				<string>ogx</string>
				<string>qt</string>
				<string>qtz</string>
				<string>rm</string>
				<string>rmvb</string>
				<string>rv</string>
				<string>swf</string>
				<string>tp</string>
				<string>ts</string>
				<string>vcd</string>
				<string>vfw</string>
				<string>vob</string>
				<string>vro</string>
				<string>webm</string>
				<string>wmv</string>
				<string>xvid</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Movie</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>264</string>
				<string>h264</string>
				<string>m4v</string>
				<string>vc1</string>
				<string>yuv</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Video</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>aac</string>
				<string>ac3</string>
				<string>acm</string>
				<string>aif</string>
				<string>aiff</string>
				<string>ape</string>
				<string>caf</string>
				<string>flac</string>
				<string>m4a</string>
				<string>m4b</string>
				<string>mid</string>
				<string>midi</string>
				<string>mka</string>
				<string>mp3</string>
				<string>mpa</string>
				<string>oga</string>
				<string>ogg</string>
				<string>pcm</string>
				<string>ra</string>
				<string>ram</string>
				<string>wav</string>
				<string>wma</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ass</string>
				<string>idx</string>
				<string>jss</string>
				<string>rt</string>
				<string>smi</string>
				<string>smil</string>
				<string>srt</string>
				<string>ssa</string>
				<string>sub</string>
				<string>utf</string>
				<string>utf8</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Subtitles</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>mediainfo</string>
	<key>CFBundleIdentifier</key>
	<string>net.mediaarea.mediainfo.mac</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>${APP_VERSION}</string>
	<key>CFBundleVersion</key>
	<string>1.0.2</string>
	<key>DTCompiler</key>
	<string></string>
	<key>DTPlatformBuild</key>
	<string>4G2008a</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>11E52</string>
	<key>DTSDKName</key>
	<string>macosx10.6</string>
	<key>DTXcode</key>
	<string>0452</string>
	<key>DTXcodeBuild</key>
	<string>4G2008a</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>NSHumanReadableCopyright</key>
	<string>(c) MediaArea.net</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Analyze with MediaInfo</string>
			</dict>
			<key>NSMessage</key>
			<string>analyzeService</string>
			<key>NSPortName</key>
			<string>MediaInfo</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSTextContent</key>
				<array>
					<string>FilePath</string>
				</array>
			</dict>
			<key>NSSendFileTypes</key>
			<array>
				<string>public.movie</string>
				<string>public.video</string>
				<string>public.audio</string>
				<string>public.subtitle</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
