name: MediaInfo-Qt Checks

on:
  push:
    paths:
      - '.github/workflows/MediaInfo-Qt_Checks.yml'
      - 'Project/QMake/GUI/**'
      - 'Source/GUI/Qt/**'
      - 'Source/Resource/**'

  pull_request:
    paths:
      - '.github/workflows/MediaInfo-Qt_Checks.yml'
      - 'Project/QMake/GUI/**'
      - 'Source/GUI/Qt/**'
      - 'Source/Resource/**'

env:
  QT_VER: 6.10.2
  QT_SELECT: 6

jobs:

  Windows:
    strategy:
      matrix:
        include:
          - architecture: x64
            qt_arch: win64_msvc2022_64
            runner: windows-latest
          - architecture: ARM64
            qt_arch: win64_msvc2022_arm64
            runner: windows-11-arm
      fail-fast: false
    name: Windows (${{ matrix.architecture }})
    runs-on: ${{ matrix.runner }}
    steps:
      - name: Checkout zlib
        uses: actions/checkout@v6
        with:
          repository: MediaArea/zlib
          path: zlib
      - name: Checkout ZenLib
        uses: actions/checkout@v6
        with:
          repository: MediaArea/ZenLib
          path: ZenLib
      - name: Checkout MediaInfoLib
        uses: actions/checkout@v6
        with:
          repository: MediaArea/MediaInfoLib
          path: MediaInfoLib
      - name: Checkout MediaInfo
        uses: actions/checkout@v6
        with:
          path: MediaInfo
      - name: Set-up Qt
        uses: jurplel/install-qt-action@v4
        with:
          arch: ${{ matrix.qt_arch }}
          version: ${{ env.QT_VER }}
          cache: true
      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v2
        with:
          msbuild-architecture: ${{ runner.arch == 'ARM64' && 'arm64' || 'x64' }}
      - name: Build dependencies
        run: |
          msbuild -t:MediaInfoLib -p:Configuration=Release -p:Platform=${{ matrix.architecture }} -clp:ForceConsoleColor ${{ github.workspace }}\MediaInfoLib\Project\MSVC2022\MediaInfoLib.sln
      - name: Build
        shell: cmd
        run: |
          call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvarsall.bat" ${{ runner.arch == 'ARM64' && 'arm64' || 'x64' }}
          qmake.exe ${{ github.workspace }}\MediaInfo\Project\QMake\GUI\MediaInfoQt.pro -spec ${{ runner.arch == 'ARM64' && 'win32-arm64-msvc' || 'win32-msvc' }} "CONFIG+=qtquickcompiler" && nmake.exe qmake_all
          nmake.exe

  Ubuntu:
    strategy:
      matrix:
        include:
          - architecture: AMD64
            runner: ubuntu-latest
          - architecture: ARM64
            runner: ubuntu-24.04-arm
      fail-fast: false
    name: Ubuntu (${{ matrix.architecture }})
    runs-on: ${{ matrix.runner }}
    steps:
      - name: Checkout MediaInfo
        uses: actions/checkout@v6
        with:
          path: MediaInfo
      - name: Install dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get install -y zlib1g-dev libgl1-mesa-dev libzen-dev libmediainfo-dev qtchooser qt${{ env.QT_SELECT }}-base-dev qt${{ env.QT_SELECT }}-svg-dev qt${{ env.QT_SELECT }}-tools-dev-tools qt${{ env.QT_SELECT }}-webengine-dev
          qtchooser -install ${{ env.QT_SELECT }} $(which qmake${{ env.QT_SELECT }})
      - name: Build
        env:
          TERM: linux
        run: |
          qmake ${{ github.workspace }}/MediaInfo/Project/QMake/GUI/MediaInfoQt.pro -spec linux-g++ CONFIG+=qtquickcompiler && make qmake_all
          make -j4
